<form [formGroup]="applicationForm">
    <div class="container">
        <div class="content">
            <div class="search">
                <img src="../../../../../assets/images/Logo_ML@2x.png.png.png">
                <input type="text" formControlName="productName" placeholder="Nunca dejes de buscar">
                <img class="logo-search" src="../../../../../assets/images/ic_Search@2x.png.png.png"
                    (click)="onSubmit()">
            </div>
        </div>
    </div>
</form>