<div class="continer-card">
    <div class="content-card" (click)="goProductDetail()">
        <div class="eight-column">
            <img src="../../../../../assets/images/cel1.webp" >
            <div class="info-product">
                <p class="title">$ 1.980</p>
                <p class="description">Apple Ipod Touch 5g 16gb Negro Igual a Nuevo Completo Unico!</p>
            </div>
            <div class="two-column">
                <p class="location">Capital Federal</p>
            </div>
        </div>
    </div>
    <div class="separator">
        <hr>
    </div>
    <div class="content-card">
        <div class="eight-column">
            <img src="../../../../../assets/images/cel1.webp" >
            <div class="info-product">
                <p class="title">$ 1.980</p>
                <p class="description">Apple Ipod Touch 5g 16gb Negro Igual a Nuevo Completo Unico!</p>
            </div>
            <div class="two-column">
                <p class="location">Capital Federal</p>
            </div>
        </div>
    </div>
</div>
