@import "~/../assets/css/app.scss";
:root {
    --yelow: #FFE600;
    --ligth-black: #333333;
    --x-dark-gray: #666666;
    --dark-gray: #999999;
    --ligth-gray: #EEEEEE;
    --ligth-blue: #3483fa;
}